<h2>Clientes</h2>

<ul>
    <li>Cliente1</li>
    <li>Cliente2</li>
    <li>Cliente3</li>
</ul>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut laborum nostrum eius iure eveniet tempore suscipit est exercitationem quo odio. Beatae error pariatur aperiam ipsam soluta corporis, iure odio mollitia.</p>