<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Handlebars Template Engine</title>
    <style>
        body {
            background-color: beige;
            font-family: "Verdana";
            padding:1em;
        }
    </style>
</head>
<body>

    <h1>Demo Handlebars!</h1>
    <span>
        <a href="/">Home</a> | 
        <a href="clientes">Clientes</a>
    </span>
    <hr>
    
    <!--INICIO CONTENIDO -->
        {{{body}}}
    <!--FIN CONTENIDO -->

</body>
</html>